@import '@/variables';
@import '@/template';

.UserItem {
  padding: 14px 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 10.87% 7.61% 7.61% 7.61% 4.02%;
  gap: 20px;
  border-bottom: 1px solid $colorBorderUser;
  .UserItem__item,
  .text {
    @include flex(row, flex-start, center);
    gap: 6px;
    @extend %textFont;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .imgWrap {
    width: 44px;
    height: 44px;
    border-radius: 16px;
    @include flex(row, center, center);
    background-color: $backgroundItemsColor;
    .img {
      max-width: 100%;
      border-radius: 16px;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }

  .UserItem__wrap {
    @include flex(row, space-between, center);
    @extend %textFont;
    font-weight: 500;
  }
  .btnWrap {
    width: 74px;
    @include flex(row, flex-start, center);
    gap: 6px;
    flex-wrap: wrap;
  }
}
