@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

$font: 'Montserrat', serif;

$colorTextDark: #42474d;
$colorTextSearch: #a6aeb3;
$colorTextPlaceholder: #828d99;
$colorTextLight: #ffffff;
$colorTextError: #ff4a33;

$backgroundDark: #cccccc;
$backgroundLight: #ffffff;
$backgroundItemsLight: #f2f4f7;
$backgroundItemsColor: #4da2d6;
$backgroundError: #ffe9e5;

$colorUiElements: #828d99;

$colorBorderLight: #e9edf5;
