@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

$font: 'Montserrat', serif;

$colorTextDark: #42474d;
$colorTextSearch: #a6aeb3;
$colorTextPlaceholder: #828d99;
$colorTextLight: #ffffff;
$colorTextError: #ff4a33;

$backgroundDark: #cccccc;
$backgroundLight: #ffffff;
$backgroundItemsLight: #f2f4f7;
$backgroundItemsColor: #4da2d6;
$backgroundError: #ffe9e5;

$colorUiElements: #828d99;
$colorUiElementsLight: #ffffff;

$colorBorderLight: #e9edf5;

$colorBtnAdd: #5ccc81;
$colorBtnAddIcon: #47b26b;

$colorBorderUser: #dae3f1;

$colorBgBtnModalDeleteDark: #ff4a33;
$colorBgBtnModalDeleteDarkHover: #e3331c;
$colorBgBtnModalDelete: #ffe9e5;
$colorBgBtnModalDeleteHover: #ffd2ca;

$bgOverlay: #00000026;

$colorTextHover: #4da2d6;
$backgroundDarkHover: #b4b4b4;
$backgroundLightHover: #e0e0e0;
$backgroundItemsLightHover: #d2ddef;
$backgroundItemsColorHover: #2c8ac5;
$backgroundErrorHover: #ffd2ca;
